<!DOCTYPE html>
<html>

    <head>
        <title>Chroma cam</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    </head>

    <body>
        
        <div id="main">

            <header>
                <h1>Chroma cam</h1>
            </header>

            <canvas id="output" width="640" height="480">
                <p>Sorry your browser does not support HTML5</p>
            </canvas>

        </div>
        
        <aside>

            <ul id="backgrounds">
                <li data-type="video" data-file="/videos/NewRow.mp4">
                    <i class="icon icon-play"></i>
                    <img src="http://placekitten.com/200/200" />
                </li>
                <li data-type="video" data-file="/videos/NewRow.mp4">
                    <i class="icon icon-play"></i>
                    <img src="http://placekitten.com/200/200" />
                </li>
                <li data-type="video" data-file="/videos/CoventGardenPlaza.mp4">
                    <i class="icon icon-play"></i>
                    <img src="http://placekitten.com/200/200" />
                </li>
                <li data-type="video" data-file="/videos/CoventGardenPlaza.mp4">
                    <i class="icon icon-play"></i>
                    <img src="http://placekitten.com/200/200" />
                </li>
                <li data-type="photo" data-file="/photos/background1.jpg"><img src="photos/background1.jpg" /></li>
                <li data-type="photo" data-file="/photos/background2.jpg"><img src="photos/background2.jpg" /></li>
                <li data-type="photo" data-file="/photos/background1.jpg"><img src="photos/background1.jpg" /></li>
                <li data-type="photo" data-file="/photos/background2.jpg"><img src="photos/background2.jpg" /></li>
                <li data-type="photo" data-file="/photos/background1.jpg"><img src="photos/background1.jpg" /></li>
                <li data-type="photo" data-file="/photos/background2.jpg"><img src="photos/background2.jpg" /></li>
                <li data-type="photo" data-file="/photos/background1.jpg"><img src="photos/background1.jpg" /></li>
                <li data-type="photo" data-file="/photos/background2.jpg"><img src="photos/background2.jpg" /></li>
                <li data-type="photo" data-file="/photos/background1.jpg"><img src="photos/background1.jpg" /></li>
                <li data-type="photo" data-file="/photos/background2.jpg"><img src="photos/background2.jpg" /></li>
                <li data-type="photo" data-file="/photos/background1.jpg"><img src="photos/background1.jpg" /></li>
                <li data-type="photo" data-file="/photos/background2.jpg"><img src="photos/background2.jpg" /></li>
            </ul>

        </aside>
        
        <div id="source">
            <video id="webcam" autoplay=""></video>
            <video id="backgroundVideo" loop="loop" preload="auto"></video>
            <img id="backgroundPhoto" />
        </div>
        
        <div id="attribution">
            All backgrounds used in this demo are under Creative Commons license.
            Many thanks to the following photographers:
            <ul>
                {{#each attribution}}
                    <li>
                        <a href="{{.}}">{{.}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <script src="/js/seriously.js"></script>
        <script src="/js/seriously.chroma.js"></script>
        <script src="/js/seriously.blend.js"></script>
        <script src="/js/script.js"></script>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                
                window.ChromaCam.start();
                
                var bgs = document.querySelectorAll('#backgrounds li');
                [].forEach.call(bgs, function(el) {
                    el.addEventListener('click', window.ChromaCam.loadBackground, false);
                });
                
            });
        </script>

    </body>

</html>
