* {
    box-sizing: border-box;
}

aside {
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    width: 14em;
}

header {
    background-color: #fff;
    padding: 1em 0;
    text-align: center;
}

h1 {
    font-family: monospace;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#backgrounds li {
    border: 1px solid #333;
    cursor: pointer;
    float: left;
    height: 7em;
    overflow: hidden;
    position: relative;
    width: 7em;
}

#backgrounds img {
    height: 7em;
    width: 7em;
}

#backgrounds .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.4em 0.6em 0.3em 0.8em;
    background-color: #000;
    color: #fff;
}

#video {
    border-left: 5px solid #000;
    bottom: 0;
    left: 14em;
    position: absolute;
    right: 0;
    top: 0;
}

#videoscreen {
    border: 2px solid #000;
    display: block;
    margin: 5em auto 0 auto;
}

#preview {
    border: 2px dashed #000;
    height: 6em;
    position: absolute;
    left: 15em;
    overflow: hidden;
    top: 1em;
    width: 8em;
}

#preview img {
    height: 6em;
    width: 8em;
}

#webcam {
    border: 2px dashed #000;
    height: 6em;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 8em;
}
