* {
    box-sizing: border-box;
}

#backgrounds {
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    width: 14em;
}

#backgrounds li {
    border: 1px solid #333;
    cursor: pointer;
    float: left;
    height: 7em;
    overflow: hidden;
    width: 7em;
}

#video {
    border: 1px solid green;
    bottom: 0;
    left: 14em;
    position: absolute;
    right: 0;
    top: 0;
}

#output {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#webcam {
    border: 1px solid red;
    height: 8em;
    position: absolute;
    right: 0;
    top: 0;
    width: 8em;
}
