
header
    background-color: #eee
    border-bottom: 1px solid #999
    padding: 0.5em 0 0.5em 2em
    font-size: 1.2em
    position: relative
    z-index: 1

h1
    color: #333
    float: left
    font-weight: bold
    padding: 0.7em

nav
    float:right

nav li
    display: inline-block
    margin-right: 0.5em
    padding: 0.7em

nav li .icon
    margin-right: 0.5em

header .clear
    clear: both
