
.white-popup-block
    background: #fff
    padding: 2em
    text-align: left
    max-width: 35em
    margin: 2em auto
    position: relative

.white-popup-block ul
    margin-top: 1em

button.mfp-close
    color: #000
