
aside
    background-color: #fff
    bottom: 0
    border-right: 1px solid #999
    color: #333
    left: 0
    overflow: scroll
    padding: 1em 3em
    position: absolute
    top: 4em
    width: 28em
    z-index: 0

#instructions

    ol
        list-style-type: decimal
        margin: 1em
        
    li
        line-height: 1.2em
        margin-bottom: 0.7em
        
    .icon-sign-blank.suggested
        color: #60cc30
        
    .icon-sign-blank.calibrated
        color: #fff
        
    .icon-hand-down
        display: block
        font-size: 2em
        margin: 1em 0
        text-align: center

#backgrounds

    li
        border: 1px solid #fff
        cursor: pointer
        display: inline-block
        height: 7em
        overflow: hidden
        position: relative
        width: 7em

    img
        height: 7em
        width: 7em

    .icon
        position: absolute
        right: 0
        bottom: 0
        padding: 0.4em 0.6em 0.3em 0.8em
        background-color: #000
        color: #fff
