@import 'reset'

* {
    box-sizing: border-box;
}

aside {
    bottom: 1em;
    left: 1em;
    overflow: scroll;
    position: absolute;
    top: 1em;
    width: 14em;
}

#main {
    margin-left: 15em;
}

header {
    background-color: #fff;
    padding: 1em 0;
    text-align: center;
}

h1 {
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#backgrounds li {
    border: 1px solid #fff;
    cursor: pointer;
    float: left;
    height: 7em;
    overflow: hidden;
    position: relative;
    width: 7em;
}

#backgrounds img {
    height: 7em;
    width: 7em;
}

#backgrounds .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.4em 0.6em 0.3em 0.8em;
    background-color: #000;
    color: #fff;
}

#source {
    display: none;
}

#output {
    display: block;
    margin: 0 auto;
}

