@import 'reset'
@import 'header'
@import 'sidebar'
@import 'popup'

*
    box-sizing: border-box

body
    background-color: #eee
    font-size: 1.2em

a
    color: #0088cc
    text-decoration: none

a:hover
    color: #ff4800

#main
    margin-left: 28em

#source
    display: none

#output
    display: block
    margin: 0 auto
